version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    # Only update packages that have been "stable" for at least 3 days
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
